<div
  *ngIf="!detailsMode"
  style="position: relative; top: 0; left: 0; height: 85%"
>
  <!--Product Image-->
  <img
    alt="Product"
    [src]="imageSrc"
    (mouseover)="swapImage()"
    (mouseout)="swapImage()"
    style="position: relative; top: 0; left: 0; width: 100%; height: 100%"
  />
  <!--Sale Icon(img) on top of product image-->
  <img
    *ngIf="product.sale"
    alt="Sale"
    src="../../../../assets/discount.png"
    style="position: absolute; top: 0; left: 0; width: 12%"
  />
</div>
<!--Product Info-->
<div>
  <div
    [ngClass]="{
      infoDetailsMode: detailsMode,
      infoNoDetailsMode: !detailsMode
    }"
  >
    <!--Product Info in deatails mode-->
    <div style="flex-grow: 1">{{ product.name }}</div>
    <div *ngIf="detailsMode" style="font-weight: bold">
      <span *ngIf="product.inStock">$</span
      ><span *ngIf="product.inStock">{{ product.price }}</span
      ><span *ngIf="!product.inStock">Sold Out</span>
    </div>
    <!--Product Colors-->
    <div style="flex-grow: 1; display: flex; justify-content: flex-end">
      <div *ngFor="let image of product.image; index as i">
        <div
          (click)="selectColor(i)"
          class="color-circle"
          [ngClass]="{ active: activeColor == i }"
        >
          <div
            class="color-inside"
            [style]="backgroundColor + image.color"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!--Product Info in not deatails mode-->
  <div *ngIf="!detailsMode" style="font-weight: bold">
    <span *ngIf="product.inStock">$</span
    ><span *ngIf="product.inStock">{{ product.price }}</span
    ><span *ngIf="!product.inStock">Sold Out</span>
  </div>
</div>
