<div id="imgContainer" *ngIf="!detailsMode">
  <!--Product Image-->
  <img
    alt="Product"
    [src]="imageSrc"
    (mouseover)="swapImage()"
    (mouseout)="swapImage()"
  />
  <!--Sale Icon(img) on top of product image-->
  <img *ngIf="product.sale" alt="Sale" src="../../../../assets/discount.png" />
</div>
<!--Product Info-->
<div>
  <div
    [ngClass]="{
      infoDetailsMode: detailsMode,
      infoNoDetailsMode: !detailsMode
    }"
  >
    <!--Product Name-->
    <div class="nameContainer">{{ product.name }}</div>
    <!--Product Price in details mode-->
    <div class="priceContainer" *ngIf="detailsMode">
      <span *ngIf="product.inStock">$</span
      ><span *ngIf="product.inStock">{{ product.price }}</span
      ><span *ngIf="!product.inStock">Sold Out</span>
    </div>
    <!--Product Colors-->
    <div class="colorContainer">
      <div *ngFor="let image of product.image; index as i">
        <div
          (click)="selectColor(i)"
          class="color-circle"
          [ngClass]="{ active: activeColor == i }"
        >
          <div
            class="color-inside"
            [style]="backgroundColor + image.color"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!--Product Price not details mode-->
  <div class="priceContainer" *ngIf="!detailsMode">
    <span *ngIf="product.inStock">$</span
    ><span *ngIf="product.inStock">{{ product.price }}</span
    ><span *ngIf="!product.inStock">Sold Out</span>
  </div>
</div>
