<div>
  <img
    alt="Product"
    [src]="imageSrc"
    style="width: 100%; height: 100%"
    (mouseenter)="swapImage()"
    (mouseleave)="swapImage()"
  />
  <div>
    <div style="display: flex; align-items: center; height: 26px">
      <div style="flex-grow: 1">{{ product.name }}</div>
      <div style="flex-grow: 1; display: flex; justify-content: flex-end">
        <div *ngFor="let image of product.image; index as i">
          <div
            (click)="selectColor(i)"
            class="color-circle"
            [ngClass]="{ active: activeColor == i }"
          >
            <div
              class="color-inside"
              [style]="backgroundColor + image.color"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div style="font-weight: bold"><span>$</span>{{ product.price }}</div>
  </div>
</div>
