<div class="container">
  <!--left side, Product Img-->
  <div id="imgColumn" class="col-8">
    <img
      alt="Product"
      [src]="imageSrc"
      (mouseover)="swapImage()"
      (mouseout)="swapImage()"
    />
    <img
      *ngIf="product.sale"
      alt="Sale"
      src="../../../../assets/discount.png"
    />
  </div>
  <!--Rigth side-->
  <div class="col-4">
    <!--Product Info-->
    <div class="mb-15">
      <app-small-index
        [category]="category"
        [detailsMode]="true"
        [productName]="product.name"
        class="mb-15"
      ></app-small-index>
    </div>
    <div class="mb-15">
      <app-product-card
        [product]="product"
        [detailsMode]="true"
        [activeColor]="imageIndex"
        (colorChanged)="colorChanged($event)"
      ></app-product-card>
    </div>
    <!--Buy Options-->
    <div class="mb-15">
      <label>Choose a Size:</label>
      <!--Size list for +767px screens-->
      <ul *ngIf="!smallScreen" class="list-group list-group-horizontal">
        <li
          *ngFor="let size of product.image[imageIndex].size; index as i"
          [ngClass]="{ active: i == activeSizeIndex }"
          class="list-group-item"
          aria-current="true"
          (click)="selectSize(i)"
        >
          {{ size }}
        </li>
      </ul>
      <!--Size list for -767px screens-->
      <select
        *ngIf="smallScreen"
        class="form-select btn-color"
        (change)="selectSize($event)"
        id="sizeInput"
      >
        <option value="-1">X</option>
        <option
          *ngFor="let size of product.image[imageIndex].size; index as i"
          [value]="i"
        >
          {{ size }}
        </option>
      </select>
    </div>
    <div id="ammountContainer" class="mb-15">
      <label>Select an Amount:</label>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-dark" (click)="removeAmount()">
          -
        </button>
        <button class="btn btn-outline-dark">
          {{ buyAmount }}
        </button>
        <button type="button" class="btn btn-dark" (click)="addAmount()">
          +
        </button>
      </div>
    </div>

    <button
      (click)="addToCart()"
      class="btn btn-success"
      [ngClass]="{ disabled: activeSizeIndex == -1 }"
    >
      Add to Cart!
    </button>
    <div class="text-danger" *ngIf="activeSizeIndex == -1">
      Please choose a size.
    </div>
  </div>
</div>
