.container{
    display: flex;
    color: var(--secondary-text-color)
}

#imgColumn{
    position: relative;
    top: 0;
    left: 0;
    padding-right: 10px
}

#imgColumn > img[alt="Product"]{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#imgColumn > img[alt="Sale"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 12%
}

.list-group-item{
    cursor: pointer
}

.list-group-item.active{
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

.form-select{
    background-color: var(--btn-background-color);
}

#ammountContainer > label {
    display: block
}

#ammountContainer > .btn-group > button:nth-child(2) {
    pointer-events: none
}

.btn-success{
    width: 100%
}