.navbar{
    background-color: var(--navbar-background-color);
    color: var(--secondary-text-color);
}

.navbar-brand{
    font-weight: 800
}

.navbar-toggler{
    margin-left: 5px;
}

.nav-r-links {
    margin-right: 14px
}

.nav-r-links a {
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-right: 10px
}

.nav-r-links svg {
    width: 100%;
    height: 90%
}