.catalog {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
}

.productCard {
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    margin-bottom: 20px;
    transition: 0.25s;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-color: var(--card-background-color);
    color: var(--secondary-text-color);
    border: var(--card-border);
}

.productCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

@media (max-width: 991px){
    .catalog-md {
        justify-content: center;
    }

    .productCard-md {
        width: 60%;
        flex-basis: auto;
    }
}

@media (max-width: 767px){
    .productCard-sm {
        width: 70%;
    }
}

@media (max-width: 425px){
    .productCard-rsm {
        padding-bottom: 15px !important;
    }
    .productCard-rsm:hover {
        padding-bottom: 13px !important;
    }
}