<div class="catalog catalog-md">
  <ng-container *ngFor="let product of productList">
    <app-product-card
      class="card-text-color card-border card-background-color productCard productCard-md productCard-sm productCard-rsm"
      [product]="product"
      [colorFilter]="colorFilter"
      [priceToFilter]="priceToFilter"
      (click)="goToDetails(product.id)"
      (colorChanged)="colorChanged($event)"
      style="cursor: pointer"
      *ngIf="
        (colorFilter == 'none' ||
          this.product.image[0].color == colorFilter ||
          this.product.image[1]?.color == colorFilter) &&
        (!this.priceToFilter || this.product.price < this.priceToFilter)
      "
    ></app-product-card>
  </ng-container>
</div>
