h1{
    text-align: center;
    margin-bottom: 20px
}

app-filterBy, app-sortBy {
    flex-shrink: 1
}

.filterAndSort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    flex-wrap: wrap;
}

@media (max-width: 767px){

.filterAndSort-sm{
    width: 85%;
}
}