<div class="container">
  <h1 class="display-1">
    {{ category }}
  </h1>
  <app-small-index [category]="category"></app-small-index>
  <div class="filterAndSort filterAndSort-sm">
    <app-filterBy
      (colorFilterChanged)="selectColorFilter($event)"
      (priceToFilter)="selectPriceToFilter($event)"
      [productList]="productList"
    ></app-filterBy>
    <app-sortBy
      (backToNewProductList)="backToNewProductList($event)"
      [productList]="productList"
    ></app-sortBy>
  </div>
</div>

<div class="container">
  <app-catalog
    [colorFilter]="colorFilter"
    [productList]="productList"
    [priceToFilter]="priceToFilter"
    [category]="category"
  ></app-catalog>
</div>
