<div>
  <!--Carousel-->
  <app-carousel
    [carouselList]="carouselList"
    (slideClicked)="slideClicked($event)"
  ></app-carousel>
  <!--Featured categories sections-->
  <div class="container">
    <section class="firstSection">
      <h3>{{ firstFeaturedTitle }}</h3>
      <div class="mb5">Click on your favorite!</div>
      <app-catalog
        [category]="firstFeaturedCategory"
        [productList]="firstFeaturedList"
      ></app-catalog>
    </section>
    <section class="secondSection">
      <h3>{{ secondFeaturedTitle }}</h3>
      <div class="mb5">Deals You'll Love</div>
      <app-catalog
        [category]="secondFeaturedCategory"
        [productList]="secondFeaturedList"
      ></app-catalog>
    </section>
  </div>
</div>
