<div id="togglerContainer">
  <label>Filter By</label>
  <!--Toggler button-->
  <button class="btn btn-color" (click)="toggleFilter()">
    <img src="../../../../assets/settings.png" />
  </button>
</div>
<div id="closed" [ngClass]="{ open: clickedFilter }">
  <!--Price Filter-->
  <div id="priceSection" class="filterSection">
    <label>Price:$</label>
    <input
      name="price"
      type="number"
      placeholder=". . ."
      (change)="filterPrice($event)"
    />
  </div>
  <!--Color Filter-->
  <div id="colorSection" class="filterSection">
    <label>Color:</label>
    <div>
      <div *ngFor="let color of colorList; index as i">
        <div
          (click)="selectColor(color, i)"
          class="color-circle"
          [ngClass]="{ active: activeColor == i }"
        >
          <div class="color-inside" [style]="backgroundColor + color"></div>
        </div>
      </div>
    </div>
  </div>
</div>
