img {
    height: 100%;
}

.carousel-caption{
    color: #f81884; display: block !important
}

.carousel-caption span{
    font-weight: 900
}

.carousel-caption p {
    font-weight: 700
}

div.carousel-item{
    width:100%;
    height: 500px
}