img {
  max-width: 100%;
}

.productCartInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media (min-width: 768px){
  .mdColumnCart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media (max-width: 768px){
  .mdHide{
  display: none
  }
}