#totalPrice{
  border: 1px solid grey; border-radius: 7px
}

#checkoutContainer{
  padding-top: 10px
}

#checkoutContainer button{
  width: 100%;
}

#sadCartContainer{
  text-align: center
}

#sadCartContainer img {
  opacity: 0.25
}

img {
  max-width: 100%;
}

.productCartInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5px;
}

.productDetails{
  color: #212529bd;
}

.capitalize{
  text-transform: capitalize
}

@media (min-width: 768px){
  .mdColumnCart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media (max-width: 768px){
  .mdHide{
  display: none
  }
}