footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
    margin-right: 0px;
}

#email {
    text-decoration: underline
}

div.row > div:first-child {
    text-align: end
}

div.row > div:last-child{
    text-align: initial
}

#copyright{
    color: grey
}

a {
    text-decoration: none;
}

.github {
    color: black
}

.instagram {
    color: #bc2a8d
}