#sidebar{
    position: fixed;
    z-index: 10;
    height: 96vh;
    overflow: hidden;
    transition: 0.3s;
    background-color: var(--navbar-background-color);
    color: var(--secondary-text-color);
}

#sidebar > span {
    color: var(--secondary-text-color);
}

.nav-link.active{
    background-color: var(--btn-background-color) !important;
    color: var(--secondary-text-color);
}

#outsideSidebar{
    height: 96vh;
    width: 100%;
    left: 280px;
    position: fixed;
    z-index: 10
}

.active {
    width: 280px
}

.inactive {
    width: 0px;
    padding: 0px !important
}
