<!--sidebar-->
<div
  id="sidebar"
  class="nav-sidebar-background-color d-flex flex-column flex-shrink-0 p-3 text-dark"
  [ngClass]="{ active: activeSidebar, inactive: !activeSidebar }"
>
  <!--sidebar title-->
  <span
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Categories</span>
  </span>
  <hr />
  <!--Home category always constant-->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        [routerLink]="['/Home']"
        class="nav-link text-dark"
        [ngClass]="{
          active: activeCategory == -1
        }"
        (click)="selectCategory(-1)"
      >
        Home
      </a>
    </li>
    <!--categories-->
    <li *ngFor="let category of categoriesList; index as i" class="nav-item">
      <a
        [routerLink]="['/Store']"
        [queryParams]="{ category: category }"
        class="nav-link text-dark"
        [ngClass]="{
          active: activeCategory == i
        }"
        (click)="selectCategory(i)"
      >
        {{ category }}
      </a>
    </li>
  </ul>
  <hr />
</div>
<!--outside of sidebar toggler-->
<div
  id="outside-sidebar"
  *ngIf="activeSidebar"
  (click)="clickedOutOfSidebar()"
></div>
